<vegaconfig>
	<colors>
		<section name="absolute">
			<!-- absolute colors -->
			<color name="red"	r="1.0" g="0.0" b="0.0" a="1.0"/>
			<color name="green"	r="0.0" g="1.0" b="0.0" a="1.0"/>
			<color name="blue"	r="0.0" g="0.0" b="1.0" a="1.0"/>
			<color name="yellow"	r="1.0" g="1.0" b="0.0" a="1.0"/>
			<color name="black"	r="0.0" g="0.0" b="0.0" a="1.0"/>
			<color name="white"	r="1.0" g="1.0" b="1.0" a="1.0"/>
			<color name="grey"	r=".5" g=".5" b=".5" a="1.0"/>
			<color name="light-grey"	r=".8" g=".8" b=".8" a="1.0"/>
			
			<color name="violet"	r="1.0" g="0.0" b="1.0" a="1.0"/>
			<color name="light-blue"	r="0.68" g="0.9" b="1.0" a="1.0"/>
			<color name="pink"	r="1.0" g="0.47" b="0.64" a="1.0"/>
			<color name="dark-red"	r="0.1" g="0.0" b="0.0" a="1.0"/>
			
			<color name="dark-blue"	r="0.0" g="0.0" b="0.2" a="1.0"/>
		</section>
		<section name="unit">
			<!-- light to use for ships -->
			<color name="ship_ambient" r="0.3" g="0.3" b="0.3" a="1.0"/>
			<color name="engine" r="1" g="1" b="1" a="1"/>
		</section>
		<section name="terrain">
			<color name="terrain_ambient" r="0.0" g="0.0" b="0.0" a="1.0"/>
		</section>
		<section name="default">
			<!-- <color name="testcolor" r="0.5" b="0.7" g="0.4" a="0.3"/> -->
			
			<!-- colors to use in radar/target rectangles -->
			<color name="enemy"		section="absolute" ref="red"/>
			<color name="friend"		section="absolute" ref="green"/>
			<color name="neutral"		section="absolute" ref="yellow"/>
			<color name="attacking_ship"	section="absolute" ref="blue"/>
			<color name="locking_ship"	section="absolute" ref="violet"/>
			<color name="targetting_ship"	section="absolute" ref="light-blue"/>
			<color name="target"		section="absolute" ref="violet"/>
			<color name="planet"		r="1.0" g="1.0" b="0.6" a="1.0" />
			<color name="docking_box"	section="absolute" ref="white" />
			<color name="black_and_white"		section="absolute" ref="light-grey" />
			
			
			<!-- light to use for planets -->
			<color name="planet_ambient" r="0.0" g="0.0" b="0.0" a="1.0"/>
			<color name="planet_mat_ambient" r="1" g="1" b="1" a="1.0"/>
			<color name="planet_mat_diffuse" r="1" g="1" b="1" a="1.0"/>
			<color name="planet_mat_specular" r="0" g="0" b="0" a="1.0"/>
			<color name="planet_mat_emmissive" r="0" g="0" b="0" a="1.0"/>
			<!-- set this to dark-blue to get the real spacey feeling -->
			<color name="space_background" ref="black" section="absolute"/>
		</section>
	</colors>
	<variables>
		<section name="data">
			<var name="sectors" value="sectors"/>
			<var name="UnitCSV" value="units.csv"/>
			<var name="animations" value="animations"/>
			<var name="sprites" value="sprites"/>
			<var name="python_modules" value="modules"/>
			<var name="python_bases" value="bases"/>
			<var name="serialized_xml" value="serialized_xml"/>
			<var name="sharedmeshes" value="meshes"/>
			<var name="sharedunits" value="units"/>
			<var name="volume_format" value="pk3"/>
			<var name="universe_path" value="universe"/>
			<var name="master_part_list" value="master_part_list.csv"/>
			<var name="cockpits" value="cockpits"/>
			<var name="unitfactiondir" value="factions"/>
			<var name="mountlocation" value="mounts"/>
			<var name="sharedtextures" value="textures"/>
			<var name="sharedsounds" value="sounds"/>
			
		</section>
		<section name="general">
			<var name="debug_config" value="false"/>
			<var name="debug_fs" value="0"/> <!-- set to 3 for most comprehensive debugging-->
			<var name="default_mission" value="explore_universe.mission"/>
			<var name="galaxy" value="milky_way.xml"/>
			<var name="yaw" value="0"/>			<var name="pitch" value="0"/>			<var name="roll" value="0"/>
			<var name="remove_impossible_downgrades" value="true"/>

<!-- #P100MHz
			<var name="simulation_atom" value="0.15"/>
			<var name="numoldsystems" value="2"/>
#end -->
<!-- #P200MHz
			<var name="simulation_atom" value="0.12"/>
			<var name="numoldsystems" value="2"/>
#end -->
<!-- #P500MHz
			<var name="simulation_atom" value="0.08"/>
			<var name="numoldsystems" value="3"/>
#end -->
<!-- #P800MHz
			<var name="simulation_atom" value="0.07"/>
			<var name="numoldsystems" value="4"/>
#end -->
<!-- #P1000MHz -->
			<var name="simulation_atom" value="0.06"/>
			<var name="numoldsystems" value="15"/>
<!-- #end -->
			<var name="garbagecollectfrequency" value="20"/>
<!-- #cva displaylist vbo -->
			<var name="deleteoldsystems" value="true"/>
<!-- #end -->
<!-- #varray
			<var name="deleteoldsystems" value="false"/>
#end -->


        	</section>
		<section name="AI">
			<var name="max_allowable_travel_time" value="15"/>
			<var name="too_close_for_warp_tactic" value="13000"/>
			<var name="autodock" value="true"/>
			<var name="startDockedTo" value="Wiley"/>
			<var name="dockOnLoad" value="true"/>
			<var name="kill_factor" value=".2"/>
			<var name="friend_factor" value=".1"/>
			<var name="ContrabandUpdateTime" value="1"/>
			<var name="CommInitiateTime" value="300"/>
			<var name="ContrabandInitiateTime" value="3000"/>
			<section name="Targetting">
				<var name="TargetSwitchReactionTime" value=".8"/>
				<var name="AssignPointDef" value="true"/>
				<var name="TimeUntilSwitch" value="20"/>
				<var name="TargetSwitchProbability" value=".01"/>
				<var name="MinTimeToSwitchTargets" value="1"/>
			</section>
			<section name="Firing">
				<var name="MissileProbability" value=".04"/>
				<var name="TurretMissileProbability" value=".01"/>
			</section>
		</section>
		<section name="cargo">
			<var name="price_recenter_factor" value=".75"/>
			<var name="max_price_quant_adj" value="5"/>
			<var name="min_price_quant_adj" value="1"/>
			<var name="price_quant_adj_pow" value="1"/>

		</section>
		<section name="physics">
			<var name="must_lock_to_autotrack" value="false"/>
			<var name="warpbleed" value="20"/>
			<var name="UnitTable" value="1"/>
			<var name="insystem_jump_or_timeless_auto-pilot" value="false"/>
			<var name="combat_speed_boost" value="100"/>
			<var name="runtime_compactness" value="1"/>
			<var name="velocity_max" value="10000000"/>    <!-- important for Vega Trek!! -->
			<var name="warp_energy_multiplier" value="0.12"/>
			<var name="debris_time" value="15"/>
			<var name="debris_mass" value=".000001"/>
			<var name="near_autotrack_cone" value=".9"/>
			<var name="close_enough_to_autotrack" value="4"/>
			<var name="slide_start" value="2"/>
			<var name="slide_end" value="0"/>
			<var name="speeding_discharge" value=".95"/>
			
			<var name="inelastic_scale" value=".5"/>

			<var name="collision_inertial_time" value="1.25"/>
			<var name="minimum_time_between_recorded_player_collisions" value=".1"/>
			<var name="minimum_collision_velocity" value="5"/>

			<var name="component_based_upgrades" value="true"/>

			<var name="ai_pilot_when_in_turret" value="false"/>
			<var name="atmosphereheight" value="10"/>
			<var name="game_speed_lying" value="false"/>
			<var name="gun_speed_adjusted_game_speed" value="true"/>
			<var name="gun_speed" value="1"/>
<!-- #easier
			<var name="game_speed" value=".5"/>
			<var name="game_accel" value="2.125"/>
#end -->
<!-- #easy
			<var name="game_speed" value="1"/>
			<var name="game_accel" value="1"/>
#end -->
<!-- #medium -->
			<var name="game_speed" value="2"/>
			<var name="game_accel" value=".5"/>
<!-- #end -->
<!-- #hard
			<var name="game_speed" value="4"/>
			<var name="game_accel" value=".225"/>
#end -->
<!-- #harder
			<var name="game_speed" value="8"/>
			<var name="game_accel" value=".12"/>
#end -->
<!-- #impossible
			<var name="game_speed" value="16"/>
			<var name="game_accel" value=".045"/>
#end -->
			<var name="FuelUsage" value=".08"/>
			<var name="AfterburnerFuelUsage" value=".3"/>
			<var name="missile_bounce" value="true"/>
			<var name="BouncePercent" value="1"/>
			<!-- the next variable tells what percentage
			      of normal the shields recharge in a nebule.
			      Zero means shields do not work in nebulae -->
			<!-- the next variable tells how accurately systems shoudl be simulated where the player isn't in.   Really you don't need much accuracy -->
<!-- #P200MHz
			<var name="NumRunningSystems" value="2"/>
			<var name="InactiveSystemTime" value=".7"/>
#end -->
<!-- #P500MHz
			<var name="NumRunningSystems" value="2"/>
			<var name="InactiveSystemTime" value=".5"/>
#end -->
<!-- #P800MHz P10000MHz
			<var name="NumRunningSystems" value="3"/>
			<var name="InactiveSystemTime" value=".5"/>
#end -->
			<var name="autodist" value="200"/>
			<var name="hostile_auto_radius" value="1000"/>
			<var name="neutral_auto_radius" value="00"/>
			<var name="friendly_auto_radius" value="0"/>
			<var name="auto_pilot_termination_distance" value="2500"/><!--fixme?-->
			<var name="auto_pilot_planet_radius_percent" value=".6"/>
			<var name="planet_port_size" value="1.6"/>
			<var name="autotime" value="2"/>
			<var name="YearScale" value="16"/>
			<var name="AsteroidDifficulty" value=".05"/>
			<var name="NoFuelThrust" value="1"/>
			<var name="NoFuelAfterburn" value="0"/>
			<var name="nebula_shield_recharge" value=".25"/>
			<var name="Drone" value="beholder"/>
		</section>
		<section name="galaxy">
			<var name="PushValuesToMean" value="false"/>
			<var name="StarRadiusScale" value="1000"/>	
			<var name="CompactnessScale" value="12"/>	
			<var name="MoonRelativeToPlanet" value=".4"/>	
			<var name="MoonRelativeToMoon" value=".8"/>	
			<var name="GasRelativeToPrimary" value=".2"/>	
			<var name="RockyRelativeToPrimary" value=".05"/>	
		</section>
		<section name="server">
			<var name="difficulty" value="1"/>
			<!-- Each saveperiod (in seconds) the server saves its state and send clients info to account server -->
			<var name="saveperiod" value="7200"/>
			<!-- Time in seconds after which a client is considered disconnected if it has shown no network activity -->
			<var name="clienttimeout" value="120"/><!-- 20 is too ambitious -->
			<!-- Time in seconds after which a client is disconnected if... -->
			<var name="logintimeout" value="60"/>
			<!-- Tell if we use an account server (really should) -->
			<var name="useaccountserver" value="false"/>
			<!-- Period used between 2 attempts to reconnect to account server if connection has been lost -->
			<var name="reconnectperiod" value="6"/>
			<!-- Temp var used to preserve compatibility... should disappear someday -->
			<var name="missionfile" value="networking.mission"/>
			<!-- Var pointing to the galaxy filename used by ths server -->
			<var name="galaxy" value="milky_way.xml"/>
		</section>
		<section name="network">
			<!-- Update period for units snapshots -->
			<var name="network_atom" value="0.2"/>
			<!-- Update period for planets and nebulas position -->
			<var name="planet_atom"  value="1130"/>
			<!-- Update period for damages data -->
			<var name="damage_atom"  value="5"/>
			<!-- IP Address or hostname of account server -->
			<!--<var name="accountsrv" value="http://graphics.stanford.edu/cgi-bin/danielrh/accountserver/vegastrike"/>-->
			<!--<var name="accountsrv" value="http://spiritplumber.tzo.com/cgi-bin/accountserver.cgi?wcvs"/>-->
			<!--<var name="accountsrv" value="http://localhost:8080/cgi-bin/accountserver.py"/>-->
			<var name="accountsrv" value="http://vegastrike.sourceforge.net/cgi-bin/accountserver.py"/>
			<!-- Port which account server is listening to -->
			<!--<var name="accountsrvport" value="6779"/>-->
			<!-- Port which this server is listening to -->
			<var name="serverport" value="6777"/>
		</section>
	</variables>
</vegaconfig>
